{block content}
    <div class="container-fluid line_long"></div>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
	        <h1 n:block=title>Problém s platbou</h1>
	        <p>Kontaktujte nás prosím na email <a href="mailto:kalianko@eshopsummit.cz">kalianko@eshopsummit.cz</a></p>
        </div>
      </div>
    </div>