{block content}

<div class="container">
    <div class="container-fluid line_long"></div>

    <div class="row">
        <div class="col-sm-12">
            <h1 n:block=title>Dokončení platby kartou</h1>

            {if $rawState == 'pending'}
                <div class="messages">
                    <p class="info">Čeká se na potvrzení platby z platební brány. Po úhradě budete informování e-mailem a bude Vám vystaven daňový doklad.</p>
                </div>
            {elseif $rawState == 'cancelled'}
                <div class="messages">
                    <p class="error">Platba neproběhla.<br />Pokud jste platbu na platební bráně úspěšně dokončili, kontaktujte
                        nás prosím na adrese <a href="mailto:platby@eshopsummit.cz">platby@eshopsummit.cz</a>. Pokud chcete platbu opakovat,
                        přejděte k platební bráně, kde bude zadán nový platební příkaz.</p>
                </div>
                <a class="btn btn-danger btn-lg" n:href="payment, token => $visitorRow->token">Přejít k platební bráně</a>
            {elseif $rawState == 'paid' && $visitorRow->paid == 0}
                <div class="messages">
                    <p class="success">Děkujeme! Platba byla přijata platební bránou a čeká se na její zpracování.</p>
                </div>
            {elseif $visitorRow->paid == 1}
                <div class="messages">
                    <p class="success">Děkujeme! Platba byla přijata.</p>
                </div>
            {/if}

            <script>
                //GTM start
                dataLayer = [{
                    'transactionId': {$visitorRow->id}, // Transaction ID - Type:String - Required
                    'transactionAffiliation': 'Vstupenky', // store name - Type:String - Optional to use
                    'transactionTotal': {$visitorRow->price}, //total revenue - Type:Numeric - Required
                    'transactionShipping': 0, // Shipping cost - Type:Numeric - Optional to use
                    'transactionProducts': [
                        {foreach $visitorRow->related('visitor_ticket.visitor_id') as $visitorTicketrow}
                            {
                                'sku': {$visitorRow->id}, // Product SKU - Type:String - Required
                                'name': {$visitorTicketrow->ticket->name_invoice}, // Product Name - Type:String - Required
                                'category': '[Server Variable]', // Product Category - Type:String - Optional to use
                                'price': {$visitorTicketrow->ticket->price}, // Product Price - Type:Numeric - Required
                                'quantity': '1' // Product Quantity - Type:Numeric - Required
                            }
                        {/foreach}
                    ]
                }];
                //GTM end

                //SHOP start
                ga('require', 'ecommerce');

                ga('ecommerce:addTransaction', {
                    'id': {$visitorRow->id},                    // Transaction ID. Required.
                    'affiliation': 'Vstupenky',   // Affiliation or store name.
                    'revenue': {$visitorRow->price}
                });

                {foreach $visitorRow->related('visitor_ticket.visitor_id') as $visitorTicketrow}
                    ga('ecommerce:addItem', {
                        'id': {$visitorRow->id},                     // Transaction ID. Required.
                        'name': {$visitorTicketrow->ticket->name_invoice},    // Product name. Required.
                        'category': {$visitorTicketrow->ticket->name_invoice},         // Category or variation.
                        'price': {$visitorTicketrow->ticket->price},                 // Unit price.
                        'quantity': '1'                   // Quantity.
                    });
                {/foreach}

                ga('ecommerce:send');
                //SHOP end
            </script>

        </div>
        {include './../together/share.latte'}
    </div>

</div>