{block content}

<div class="container">
    <div class="container-fluid line_long"></div>

    <div class="row">
        <div class="col-sm-12">
            <h1 n:block=title>Dokončení platby kartou - video</h1>

            {if $rawState == 'pending'}
                <div class="messages">
                    <p class="info">Čeká se na potvrzení platby z platební brány. Po úhradě budete informování e-mailem a bude Vám vystaven daňový doklad.</p>
                </div>
            {elseif $rawState == 'cancelled'}
                <div class="messages">
                    <p class="error">Platba neproběhla.<br />Pokud jste platbu na platební bráně úspěšně dokončili, kontaktujte
                        nás prosím na adrese <a href="mailto:platby@eshopsummit.cz">platby@eshopsummit.cz</a>. Pokud chcete platbu opakovat,
                        přejděte k platební bráně, kde bude zadán nový platební příkaz.</p>
                </div>
                <a class="btn btn-danger btn-lg" n:href="payment, token => $videoRow->token">Přejít k platební bráně</a>
            {elseif $rawState == 'paid' && $videoRow->paid == 0}
                <div class="messages">
                    <p class="success">Děkujeme! Platba byla přijata platební bránou a čeká se na její zpracování.</p>
                </div>
            {elseif $videoRow->paid == 1}
                <div class="messages">
                    <p class="success">Děkujeme! Platba byla přijata.</p>
                </div>
            {/if}

        </div>
    </div>

</div>