<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{ifset homepage}{include homepage|striptags}{else}{ifset title}{include title|striptags} | E-shop summit 2016{/ifset}{/ifset}</title>

    <!-- Bootstrap -->
    <link href="{$basePath}/css/styles.min.css?v=8" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta property="og:image" content="/pictures/homepage.png" />
    {*<meta property="og:title" content="[page name]" />
    <meta property="og:description" content="[content description]" />*}
    {block head}{/block}
  </head>
  <body>
    {*<script>
      (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71317463-1', 'auto');
      ga('send', 'pageview');
    </script>*}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H2RWC" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script n:syntax="off">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5H2RWC');</script>
    <!-- End Google Tag Manager -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mainMenu notHp">
            <div class="logo">
              <a href="{link Homepage:default}"><img src="/images/logo.png" alt="" /></a>
            </div>
            <ul>
              <li {ifCurrent Homepage:default}class="active"{/ifCurrent}><a href="{link Homepage:default}">Home</a></li>
                {if $factoryDate->isNowAfterTicketShop()}
                    {*<li {ifCurrent VideoForm:default}class="active"{/ifCurrent}><a href="{link VideoForm:default}">Předprodej videí z #ESS16</a></li>*}
                    <li><a href="http://slideslive.com/eshopsummit/eshop-summit-2016" target="_blank">Videa z #ESS16</a></li>
                {else}
                    <li {ifCurrent Form:default}class="active"{/ifCurrent}><a href="{link Form:default}">Prodej vstupenek</a></li>
                {/if}
              <li {ifCurrent Homepage:program}class="active"{/ifCurrent}><a href="{link Homepage:program}">Program</a></li>
              {*<li {ifCurrent Homepage:studies}class="active"{/ifCurrent}><a href="{link Homepage:studies}">Případové studie a příběhy</a></li>*}
              {*<li><a href="#">Časté dotazy</a></li>*}
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>
    </div>

        {include content}

    <div class="container-fluid footerHolder">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <span class="tit">O E-shop Summitu</span>
            <ul class="green_">
              <li><a href="{link Homepage:default#o-konferenci}">O Konferenci</a></li>
              <li><a href="{link Homepage:team}">Náš team</a></li>
              <li><a href="{link Homepage:contact}">Kontakty</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <span class="tit">Pro účastníky</span>
            <ul class="blue_">
              <li><a href="{link Homepage:conditions}">Pravidla a podmínky</a></li>
              <li><a href="{link Form:default}">Koupit vstupenku</a></li>
              <li><a href="{link Homepage:conditions#ochrana-osobnich-udaju}">Ochrana osobních údajů</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <span class="tit">Pro partnery</span>
            <ul class="orange_">
              <li><a href="https://www.eshopsummit.cz/blog/pro-partnery-konference/">Jak se stát partnerem?</a></li>
              <li><a href="https://www.eshopsummit.cz/blog/pro-partnery-konference/#podminky">Podmínky pro partnery</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">© 2015 - 2016 OnCon s.r.o.</div>
      </div>
    </div>
    <script src="{$basePath}/js/main.min.js?v=5"></script>
    {block scripts}{/block}
  </body>
</html>
