{block content}
<div class="container-fluid line_long"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Obchodní podmínky</h1>
        </div>

        <div class="col-md-12" id="pravidla-a-podminky">
            <p>pro prodej vstupenek na konferenci E-shop summit 2016 prostřednictvím internetového prodeje společností OnCon s.r.o., se sídlem Varhulíkové 1582/24, 170 00 Praha 7 – Holešovice, IČ: 04142608.</p>

            <h3>I. ÚVODNÍ USTANOVENÍ A POJMY</h3>
            <p>1.1   OnCon s.r.o., se sídlem Varhulíkové 1582/24, 170 00 Praha 7 – Holešovice, IČ: 04142608, zapsaná v obchodním rejstříku vedeném u Městského soudu v Preza, oddíl C, vložka 242947, zastoupená Ing. Janem Kaliankem, dále také jen "Společnost", vydává tyto obchodní podmínky. </p>
            <p>1.2   Obchodní podmínky upravují prodej vstupenek na konferenci E-shop summit 2016, konající se 1. – 2. dubna 2016 v ArtIGY v Českých Budějovicích. </p>

            <h3>II. PRODEJ VSTUPENEK</h3>
            <p>2.1   Společnost činí prostřednictvím svých webových stránek výzvu k podávání návrhů na uzavření kupní smlouvy na prodej vstupenek na E-shop summit 2016. Ustanovení § 1732 zákona č. 89/2012 Sb., občanského zákoníku (dále jen NOZ), se nepoužije. </p>
            <p>2.2   Zájemce o koupi vstupenky (dále jen „Navrhovatel“) podává objednávkou uskutečněnou prostřednictvím internetového rozhraní Společnosti, dostupného ze stránek www.eshopsummit.cz, návrh na uzavření smlouvy o koupi vstupenek na výše specifikovanou konference (dále také jen "Objednávka"). </p>
            <p>2.3   Objednávkou dává Navrhovatel souhlas s těmito obchodními podmínkami a s podmínkami uvedenými na webové stránce www.eshopsummit.cz. Tyto obchodní podmínky tvoří dle § 1751 odst. 1 NOZ součást obsahu smlouvy. </p>
            <p>2.4   Kupní smlouva o prodeji vstupenek je uzavřena akceptací Objednávky vstupenek Společností, a to zasláním e-mailu s potvrzením ze strany Společnosti na e-mailovou adresu uvedenou Navrhovatelem v Objednávce. </p>
            <p>2.5   S ohledem na charakter akce se Navrhovatel považuje za profesionála a nepovažuje se za spotřebitele ve smyslu § 419 NOZ. Tudíž se neuplatní ustanovení na ochranu spotřebitele, zejména ustanovení § 1810 a násl. NOZ. </p>
            <p>2.6   Kupní cenu je možno zaplatit online platební kartou nebo převodem na bankovní účet Společnosti na základě vystavené výzvy k platbě. V případě platby převodem je splatnost kupní ceny 7 dnů od data vystavení výzvy k platbě. </p>

            <h3>III. CENA VSTUPENEK</h3>
            <p>3.1   Cena jedné vstupenky je proměnná a to podle počtu již prodaných vstupenek a data, ve kterém je vstupenka objednána. Vždy platí, že se cena zvyšuje, jakmile nastane alespoň jedna ze dvou uvedených podmínek. </p>
            {* tabulka*}
            <p>Společnost není plátcem DPH, cena je tedy konečná.</p>
            <p>3.2   Zaplacená částka za vstupenky se vrací pouze při nemožnosti účasti Účastníka na konferenci, a to při uplatnění tohoto práva u Společnosti nejpozději do 14. března 2016 (včetně). Všechny vstupenky vrácené před 14. březnem 2016 (včetně) jsou zatíženy storno poplatkem, který činí 50 % z ceny zakoupené vstupenky. </p>
            <p>3.3   Od 15. března 2016 (včetně) se zaplacená částka za vstupenky nevrací a je možná pouze změna účastníka podle oddílu IV těchto obchodních podmínek. </p>
            <p>3.4   Součástí vstupenky je dále časově omezené právo přístupu do interní databáze videozáznamů z výše specifikované konference, budou-li video záznamy z akce pořízeny a publikovány.</p>
            <p>3.5   V případě zrušení akce náleží kupujícím plná náhrada ceny vstupenek. </p>

            <h3>IV. OBJEDNÁVKA VSTUPENEK</h3>
            <p>4.1   Za účelem objednávky vstupenek je nutné uvést a odeslat všechna data potřebná pro provedení rezervace vstupenek a následně zaplatit příslušnou částku dle pokynů objednávkového systému. </p>
            <p>4.2   Vstupenka je vázána na účastníka, fyzickou osobu, uvedenou Navrhovatelem v Objednávce vstupenky. Účastníka lze na žádost změnit, nejvýše však dvakrát. </p>
            <p>4.3   Žádost o změnu účastníka je možno bezplatně podat nejpozději dne 14. března 2016</p>

            <h3 id="ochrana-osobnich-udaju">V. OCHRANA OSOBNÍCH ÚDAJŮ</h3>
            <p>5.1   Osobními údaji se rozumí informace o zákazníkovi, na základě kterých jej lze přímo či nepřímo identifikovat. Společnost shromažďuje a uchovává zákazníkem zadané osobní údaje prostřednictvím elektronických nosičů informací v zabezpečeném datovém úložišti, popřípadě v tištěné podobě řádně zabezpečené. </p>
            <p>5.2   Společnost prohlašuje, že chrání osobní údaje v souladu se zákonem č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů. Objednatel vstupenek tímto dává souhlas ke zpracování svých osobních údajů Společností.</p>
            <p>5.3   Společnost je zpracovatelem osobních údajů registrovaným u Úřadu na ochranu osobních údajů pod registračním číslem 00061095.</p>


            <h3>VI. ÚČINNOST OBCHODNÍCH PODMÍNEK</h3>
            <p>6.1   Pokud by se stalo některé ustanovení těchto obchodních podmínek neplatným, zůstává platnost ostatních ustanovení nedotčena.</p>
            <p>6.2   Obchodní podmínky nabývají účinnosti dne 1. ledna 2016. </p>
            <p>6.3   Ukončením této smlouvy není dotčena platnost kteréhokoliv ustanovení této smlouvy, jež má výslovně či ve svých následcích působit při nebo po ukončení této smlouvy. </p>
            <p>6.4   Tyto obchodní podmínky jsou sepsány v jazyce českém. Pro interpretaci těchto obchodních podmínek pro případ odlišnosti jazykových verzí jsou závazné podmínky české.</p>

            <h3>VII. ZÁVĚREČNÁ USTANOVENÍ</h3>
            <p>7.1   Závazky Společnosti vůči Navrhovatelům stejně jako případné nároky Navrhovatelů vůči Společnosti se promlčují ve lhůtě jednoho roku. </p>
            <p>7.2   Společnost si vyhrazuje právo kdykoliv změnit obsah oddílu III těchto podmínek, zejména cenu vstupenky. </p>
            <p>7.3   Je-li některé ustanovení obchodních podmínek neplatné nebo neúčinné, nebo se takovým stane, namísto neplatných ustanovení nastoupí ustanovení, jehož smysl se neplatnému ustanovení co nejvíce přibližuje. Neplatností nebo neúčinností jednoho ustanovení není dotknuta platnost ostatních ustanovení. </p>
            <p>7.4   Pro případ mezinárodního prvku se jako právo rozhodné pro spory vzniklé v souvislosti s těmito obchodními podmínkami a smluvních vztahů na základě nich uzavřených sjednává právo české. Soudy příslušné pro rozhodování sporů mezi smluvními stranami jsou soudy české.</p>

            <p>Praha, dne 1. ledna 2015</p>
        </div>

    </div>
</div>
