{block content}
<div class="container-fluid line_long"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Kontakt</h1>

            Pořadatelem E-shop Summit 2016 je<br/>
            <strong>OnCon s.r.o.</strong><br/>
            Varhulíkové 1582/24<br/>
            170 00 Praha 7 - Holešovice<br/>
            <a href="http://www.oncon.cz/" target="_blank">www.oncon.cz</a><br/>
            <br/>
            IČ: 04142608<br/>
            DIČ: Není plátce DPH<br/>
            <br/>
            Společnost je vedená u Městského soudu v Praze, oddíl C, vložka 242947.
        </div>
        <div class="col-md-12">
        <h2>E-mailové kontakty</h2>
        
        Všeobecné dotazy ke konferenci: <a href="mailto:kalianko@eshopsummit.cz">kalianko@eshopsummit.cz</a><br/>
        Kontakt pro partnery konference: <a href="mailto:partneri@eshopsummit.cz">partneri@eshopsummit.cz</a><br/>
        Problémy s objednávkou či platbou: <a href="mailto:objednavky@eshopsummit.cz">objednavky@eshopsummit.cz</a><br/>
        </div>
        <div class="col-md-12">
        <h2>Hlavní pořadatel</h2>
        
        <strong>V případě neodkladného problému</strong> (takový, který nelze vyřešit e-mailem) můžete kontaktovat hlavního organizátora akce - Jan Kalianko +420 606 353 218.<br/>
        </div>
    </div>
</div>
