{block homepage}E-shop summit 2016 | 1.-2. dubna 2016 | České Budějovice{/block}
{block content}
    <div class="container-fluid hp_background">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="hp_logo">
              <img src="/images/big_logo.png" alt="">
            </div>
            <h1>E-commerce & On-line Business Event</h1>
            <div class="hp_tags">
              <span>1. - 2. dubna 2016</span>
              <span>České Budějovice</span>
              <span>#ESS16</span>
            </div>
            <div class="line_bottom"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid hp_bubble_background">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="hp_bubbles">
              <ul>
                <li class="bubble_1">
                  <strong>500+</strong>
                  <span>Návštěvníků</span>
                </li>
                <li class="bubble_2">
                  <strong>20+</strong>
                  <span>Skvělých řečníků</span>
                </li>
                <li class="bubble_3">
                  <strong>5</strong>
                  <span>Případových studií</span>
                </li>
                <li class="bubble_4">
                  <strong>2</strong>
                  <span>Panelové diskuze</span>
                </li>
                <li class="bubble_5">
                  <strong>2</strong>
                  <span>Exkluzivní párty</span>
                </li>
              </ul>                                                         
            </div>
          </div>
          <div class="vip_ticket_box">
            <h2>Akce je za námi</h2>
              <h3>Ale můžete se podívat na <a href="http://slideslive.com/eshopsummit/eshop-summit-2016" target="_blank">videa z #ESS16</a></h3>
            <h2>Napsali o #ESS16 na svůj blog</h2>
            <ul>
              <li><a href="https://www.brilo.cz/prvni-den-na-eshopsummit-2016/" target="_blank">Brilo.cz - První den na EshopSummit 2016</a></li>
              <li><a href="https://www.brilo.cz/eshopsummit-2016-den-druhy/" target="_blank">Brilo.cz - EshopSummit 2016 – den druhý</a></li>
              <li><a href="http://www.evisions.cz/blog-2016-04-03-report-z-eshop-summitu-2016" target="_blank">eVisions.cz - Report z E-shop Summitu 2016</a></li>
              <li><a href="https://docs.google.com/document/d/1KHldxx573fzSDZxkz0AdIz5MRySInaa8eLLOg3h9qlc/edit" target="_blank">Radim Hasalík - On-line poznámky z #ESS16 - první den</a></li>
              <li><a href="https://docs.google.com/document/d/1UQTz8ARKjeFsIxgwib0o4W-Wdu9y54wp8W_ZvTb1pxk/edit" target="_blank">Radim Hasalík - On-line poznámky z #ESS16 - druhý den</a></li>
              <li><a href="http://www.sunitka.cz/c/907-summit-e-shopisti-cepiho-hnizdo-aneb-seznam-fakt-konci-ess16/" target="_blank">Sunitka.cz - Summit, e-shopisti, Čepího hnízdo aneb Seznam fakt končí? #ESS16</a></li>
              <li><a href="http://www.cognito.cz/ostatni/sedm-uzitecnych-poselstvi-z-e-shop-summitu-2016/" target="_blank">Cognito zpravodaj - Sedm užitečných poselství z E-shop summitu 2016</a></li>
              <li><a href="http://www.netmagnet.cz/blog/nejzasadnejsi-informace-z-e-shop-summitu-1/" target="_blank">Net Magnet - Nejzásadnější informace z E-shop summitu – 1. den</a></li>
              <li><a href="http://darencurtis.sk/inspiracie/ako-som-bol-na-prvom-e-shop-summite-den-1/" target="_blank">daren&curtis - Ako som bol na prvom e-shop summite – deň 1</a></li>
              <li><a href="https://www.jirka.ch/eshopsummit2016/" target="_blank">Jirka Chomát - Přednáška na E-shop summit</a></li>
              <li><a href="http://www.tyinternety.cz/socialni-site/nejpouzivanejsi-hashtagy-13-tydne/" target="_blank">TyInternety.cz - Nejpoužívanější #hashtagy 13. týdne (Pozn. Píší o používání našeho hashtagu #ESS16)</a></li>
              <li><a href="http://www.netmagnet.cz/blog/nejzasadnejsi-informace-z-eshop-summitu-2/" target="_blank">Net Magnet - Nejzásadnější informace z E-shop summitu – 2. den</a></li>
              <li><a href="http://www.pricemaniaacademy.sk/2016/4/12/e-shop-summit-2016" target="_blank">PricemaniaAcademy.sk - E-shop summit 2016</a></li>
            </ul>
            <h2>Videa z #ESS16</h2>
            <ul>
              <li><a href="https://www.youtube.com/watch?v=EsTQReivC8o" target="_blank">E-shop summit 2016 očima Shockworks</a></li>
              <li><a href="https://youtu.be/GbP7crqvqN8" target="_blank">Oficiální video sestřih z 1. dne konference</a></li>
              <li><a href="https://youtu.be/ezirn0NUTlo" target="_blank">Oficiální video z příprav a warm-up párty</a></li>
              <li><a href="http://slideslive.com/eshopsummit/eshop-summit-2016" target="_blank"><strong>Oficiální záznamy z konference #ESS16</strong></a></li>
            </ul>
          </div>
          <div class="col-md-12" id="o-konferenci">
            <h2>Co je E-shop summit?</h2>
            <p>
              Odborná konference se zaměřením na e-commerce a on-line business. Do programu vybíráme řečníky s unikátním know-how. Témata, se kterými se na E-shop summit 2016 řečníci představí, jsou připravena a vyladěna speciálně pro naši konferenci. Nebudete tak poslouchat to, co už jste slyšeli několikrát jinde. Stejně tak u nás není možné zakoupit si prostor pro přednášení, jako u jiných konferencí. Nebudete tak muset poslouchat přednášky plné reklamy na něčí produkt bez jakékoliv přidané hodnoty.
            </p>
            <p>
              Čekají na Vás dva dny plné unikátních přednášek a networkingu. Vše doplněno o prvotřídní večerní párty plné zábavy. <strong>Prostě pro vás připravíme konferenci, ze které budete odcházet plni nových poznatků, nadšení a energie pro rozvoj vašeho internetového obchodu.</strong>
            </p>
            <p>
              E-shop summit 2016 je určen pro majitele menších e-shopů, klíčové zaměstnance a markeťáky ze středních a větších e-shopů, pro všechny z digitálních agentur a konzultanty zabývající se on-line marketingem.
            </p>
          </div>
          <div class="col-md-12">
            <div class="newslettler_box">
              <span class="tit">Chceš dostávat pravidelné informace?</span>
                {snippet newsletter}
                    {if $showInterestForm}
                      {form interestForm}
                            <div n:if="$form->hasErrors()">
                              <div class="alert alert-danger" role="alert" n:foreach="$form->errors as $error">
                                  {$error}
                              </div>
                            </div>
                            {input email}
                            {input send}
                            <div class="clearfix"></div>
                      {/form}
                    {else}
                        <div class="alert alert-success" role="alert">Váš email jsme si uložili a budeme Vás informovat o novinkách</div>
                    {/if}
                {/snippet}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="title_red"><strong>Špičkoví řečníci se svým know-how</strong></span>

            {foreach $bigSpeakers as $bigSpeaker}
                <a href="{link Homepage:program}#prednaska{$bigSpeaker->id}">
                  {if $iterator->counter%3==1}<div class="people_box_left">{elseif $iterator->counter%3==2}<div class="people_box_right">{else}<div class="people_box_left">{/if}
                    {if $iterator->counter%3==1}<div class="photo bubbles_left_1">{elseif $iterator->counter%3==2}<div class="photo">{else}<div class="photo">{/if}
                      <img src="{$bigSpeaker->photo}" alt="{$bigSpeaker->name}">
                    </div>
                    <div class="text">
                      <span class="tit">{$bigSpeaker->name}</span>
                      <span class="sub_title">{$bigSpeaker->expert}</span>
                      <div class="innerText">
                        <p>{$bigSpeaker->description}</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </a>
            {/foreach}

          <div class="people_faces">
            <ul>
              <li n:foreach="$smallSpeakers as $smallSpeaker">
                    <a href="{link Homepage:program}#prednaska{$smallSpeaker->id}">
                    <img src="{$smallSpeaker->photo}" alt="{$smallSpeaker->name}">
                    <strong>{$smallSpeaker->name}</strong>
                    <span>{$smallSpeaker->expert}</span>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>

            {if $panelOperationSpeakers->count() > 0}
                <h3 class="speaker">Účastníci panelové diskuze - provoz e-shopu</h3>
                <ul>
                  <li n:foreach="$panelOperationSpeakers as $speaker">
                    <a href="{link Homepage:program}#panelova-diskuse-provoz-e-shopu">
                        <img src="{$speaker->photo}" alt="{$speaker->name}">
                        <strong>{$speaker->name}</strong>
                        <span>{$speaker->expert}</span>
                    </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            {/if}

            {if $panelMarketingSpeakers->count() >0}
                <h3 class="speaker">Účastníci panelové diskuze - marketing e-shopu</h3>
                <ul>
                  <li n:foreach="$panelMarketingSpeakers as $speaker">
                    <a href="{link Homepage:program}#panelova-diskuse-marketing-e-shopu">
                        <img src="{$speaker->photo}" alt="{$speaker->name}">
                        <strong>{$speaker->name}</strong>
                        <span>{$speaker->expert}</span>
                    </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            {/if}

            {if $caseStudySpeakers->count() >0}
                <h3 class="speaker">Své případové studie představí</h3>
                <ul>
                  <li n:foreach="$caseStudySpeakers as $speaker">
                    <a href="{link Homepage:program}#pripadova-studie">
                        <img src="{$speaker->photo}" alt="{$speaker->name}">
                        <strong>{$speaker->name}</strong>
                        <span>{$speaker->expert}</span>
                    </a>
                  </li>
                </ul>
                <div class="clearfix"></div>
            {/if}

          </div>
          
          <span class="title_red"><strong>Co na Vás čeká?</strong></span>
          <div class="checked_ul">
            <ul>
              <li>
                <span>Dvoudenní odborná konference</span>
                <strong>plná nových poznaků</strong>
              </li>
              <li>
                <span>Originální témata a přednášky</span>
                <strong>vyladěné přímo s řečníky</strong>
              </li>
              <li>
                <strong>Stánky partnerů</strong>
                <span>se zajímavými výhodami</span>
              </li>
              <li>
                <strong>2 večerní párty</strong>
              </li>
              <li>
                <span>Networking a</span>
                <strong>nové obchodní příležitosti</strong>
              </li>
              <li>
                <strong>Panelové diskuze</strong>
              </li>
              <li>
                <strong>Originální případovky</strong>
              </li>
              <li>
                <span>Žádná recyklovaná</span>
                <strong>témata přednášek</strong>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <span class="title_orange"><strong>Vstupenky</strong></span>
           <div class="vip_ticket_box">
            <h2>Předprodej vstupenek byl ukončen</h2>
            <h3>Akce úspěšně proběhla s mnoha kladnými ohlasy. Nyní pro účastníky připravujeme video záznamy, které budou k dispozici do konce dubna. Ti co nebyli na #ESS16 si je mohou nyní zakoupit za zvýhodněnou cenu v předprodeji.</h3>
            <center><h2>Máte možnost zakoupit videa z akce >>> <a href="http://slideslive.com/eshopsummit/eshop-summit-2016" target="_blank">více zde</a> <<<</h2></center>
          </div>
           {*        
           
           
            <div class="priceBoxes">
              <div n:foreach="$tickets as $ticket" class="pricebox {$ticket->class} {if new DateTime() >= $ticket->price_to} soldout{/if}">
                <div class="header">{$ticket->name}</div>
                <div class="arrow-down"></div>

                <div class="soldout" n:if="new DateTime() >= $ticket->price_to">Vyprodáno</div>

                <div class="info_text">{$ticket->description|noescape}</div>
                <span class="price">{$ticket->price|number:0:',':' '} Kč</span>
              </div>
              <div class="clearfix"></div>
            </div>

          <div class="buy_ticket_box">
            <span>Aktuální cena vstupenky: {$normalTicketForNow->price} Kč</span>
            <a href="{link Form:default}" class="buyTicket">Chci vstupenku</a>
            <div class="clearfix"></div>
          </div>
          <div class="vip_ticket_box">
            <div class="title_bg"></div>
            <div class="title">Vstupenka VIP</div>
            <div class="content_">
              <div class="left_">
                <span class="oldPrice"></span>
                <span class="price">{$ticketVIP->price|number:0:',':' '} Kč</span>
                <span class="availability">Posledních 8 ks - jen do vyprodání zásob</span>
                <a href="{link Form:default, type => vip}" class="buyVipTicket">Koupit VIP vstupenku</a>
              </div>
              <div class="right_">
                <span class="tit">VIP vstupenka zahrnuje navíc:</span>
                <ul>
                  <li>Odbavení u vstupu do 1 min.</li>
                  <li>Sezení na nejlepších místech</li>
                  <li>Místo u stolu v sálu</li>
                  <li>Vlastní připojení k elektřině (230V) přímo v sálu</li>
                </ul>
              </div>
            </div>
          </div>
          
          *}
          
          <div class="newslettler_box red_">
            <span class="tit">Chceš dostávat pravidelné informace?</span>
                {snippet newsletter2}
                    {if $showInterestForm}
                      {form interestForm2}
                            <div n:if="$form->hasErrors()">
                                <div class="alert alert-danger" role="alert" n:foreach="$form->errors as $error">
                                    {$error}
                                </div>
                            </div>

                            {input email}
                            {input send}
                            <div class="clearfix"></div>
                      {/form}
                    {else}
                        <div class="alert alert-success" role="alert">Váš email jsme si uložili a budeme Vás informovat o novinkách</div>
                    {/if}
                {/snippet}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid background_2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="title_blue"><strong>Na co se můžete těšit</strong></span>
            <div class="img_textbox_left">
              <div class="photo">
                <img src="/pictures/misto_igy.png" alt="ArtIGY">
              </div>
              <div class="content_">
                <h3>ArtIGY</h3>
                <p>Multifunkční prostor hostící E-shop summit 2016, který je pro pořádání konference jako dělaný. Nachází se nedaleko centra Českých Budějovic, cca 200 m od hotelu, má k dispozici dostatek parkovacích míst a je vybaven kvalitní technikou. Kapacita prostor je přes 500 osob, což je pro E-shop summit 2016 tak akorát. Vhodné členění prostor, foayer s kavárnou nebo balkon v hlavním sále jsou zárukou, že to bude stát za to.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="img_textbox_right">
              <div class="photo">
                <img src="/pictures/misto_foyer.png" alt="Foyer s kavárnou">
              </div>
              <div class="content_">
                <h3>Foyer s kavárnou</h3>
                <p> Předsálí multifunkčního sálu je dostatečně velké a dominuje mu velký kavárenský bar. Ten bude po celou dobu konference k dispozici a budete si moci dát nejen dobrou kávu, ale i chlazené nápoje či zákusky. Zbytek foyer budeme využívat pro catering a pro stánky, ve kterých se budou prezentovat partneři. Foyer také bude sloužit jako klidová zóna pro networking a řešení obchodních záležitostí.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="img_textbox_left">
              <div class="photo">
                <img src="/pictures/misto_party.png" alt="2 večerní párty">
              </div>
              <div class="content_">
                <h3>2 večerní párty</h3>
                <p>Správná konference není jen mnoho nových poznatků, ale také zábava. Připravíme pro vás dvě (a možná i tři) luxusní párty, které si opravdu užijete.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            {*
            <span class="title_orange"><strong>Hlas lidu, hlas boží</strong></span>
            <div class="select_speaker_box">
              <span class="tit">Navrhni nám řečníka a vyhraj VIP vstupenku</span>
              <div class="text_box">
                <div class="img">
                  <img src="/images/question.png" alt="">
                </div>
                <div class="text_">
                <p>Neděláme konferenci pro sebe, <strong>ale</strong> pro vás. Připravíme sice špičkový program, ale zajímá nás také názor našich účastníků. Pokud v programu není někdo, koho by měli slyšet i ostatní, dej nám o něm vědět.</p>
                <p>Nominované řečníky oslovíme, zkusíme s nimi vymyslet vhodné a originální téma a pokud se nám to povede, zařadíme je do březnového hlasování o prémiovou přednášku. Tomu, kdo jako první navrhne řečníka, který hlasování následně vyhraje, <strong><a href="">dáme VIP vstupenku jako odměnu.</a></strong></p>
                <p><strong>Navrhovat můžete do 28.2.2016</strong></p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
                {snippet lecturerFormTip}
                    {if $lecturerTipSuccessSubmit}
                        <div class="alert alert-success" role="alert">Děkujeme za návrh na řečníka</div>
                    {/if}

                    {form lecturerTipForm, class=>"select_speaker_form ajax"}
                      <div class="form_line">
                        {label lecturer_name /}
                        {input lecturer_name}
                      </div>
                      <div class="form_line">
                        {label author /}
                        {input author}
                      </div>
                      <div class="form_line">
                        {label author_email /}
                        {input author_email}
                      </div>
                      <div class="submitHolder">
                        {input send}
                      </div>
                    {/form}
                 {/snippet}
                *}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mapHolder">
      <a href="https://www.google.cz/maps/place/IGY+Centrum/@48.9840766,14.4705522,17z/data=!3m1!4b1!4m2!3m1!1s0x47734e2cdf76fef9:0xa6f72cf67e763af" target="_blank"><img src="/images/mapa.jpg" alt=""></a>
    </div>
    <div class="container-fluid partners_bg">
      <div class="container">
        <div class=row>
          <div class="col-md-12">
            <span class="title_red"><strong>Naši partneři</strong></span>
            <div class="partners_box">
                {$setting->partners|noescape}
            </div>
          </div>
        </div>
      </div>
    </div>