<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>E-eshop summit</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
</head>

<body>
    <script>
      (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71317463-1', 'auto');
      ga('send', 'pageview');

    </script>

    <img src="/pictures/homepage.png" style="width: 100%;"><br/>
    <strong>© 2015-2016 OnCon s.r.o.</strong>
</body>
</html>
