{block title}Program #ESS16 – pátek 1.4. a sobota 2.4.2016{/block}
{block content}
{* pripravena sablona pro program *}

<div class="container-fluid line_long"></div>
    <div class="container program_box">
      <div class="row">
        <div class="col-md-12">
          <h1>Program E-shop summit 2016</h1>
        </div>
        <div class="col-md-12">

          <div class="program_title"><span>Čtvrtek 31.3.2016</span></div>

          <div class="partyBox">
            <div class="left_">
              <img src="/pictures/party_paradox_1.jpg" alt="Party Paradox">
              <br><br>
              <img src="/pictures/party_paradox_2.jpg" alt="Party Paradox">
            </div>
            <div class="right_">
              <span class="title">Posezení s dobrým pitím a networkingem</span>
              <div class="content">
                Přijďte s námi posedět už večer před #ESS16. Naladíme se na tu správnou vlnu v příjemném baru hned vedle náměstí Přemysla Otakara II. U dobrých drinků bude dostatek času poznat nové lidi a probrat vše kolem vašich e-shopů.
              </div>
              <div class="where_">
                <strong class="circle">Kde?</strong>
                <div class="cntnt">
                  <strong>Bar Broukárna</strong>
                  Široká 432/11 (vchod z ulice Dr.Stejskala), 370 01 České Budějovice<br />
                  <a href="https://mapy.cz/s/ulNp" target="_blank">Zobrazit na mapě ></a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="when_">
                <strong class="circle">Kdy?</strong>
                <div class="cntnt">
                  Čtvrtek 31. března 2016 od 20:00
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          {foreach $program as $programDate => $programDay}

                {if $programDate == "Sobota 2.4.2016"}
                    {* shit fuj, fuj fuj *}
                      <div class="partyBox margin_top">
                        <div class="left_ align_center position_top">
                          <img src="/pictures/party_k2.jpg" alt="Party K2">
                        </div>
                        <div class="right_">
                          <span class="title">Off-line networking party v K2</span>
                          <div class="content">
                            Výstup na K2 je pořádný výšlap nahoru. Do naší K2 vedou ale schody dolů.
                            Nemusíte se tak bát, že byste výstup nezvládli. Po celém dnu budeme mít hlavu
                            pořádně zamotanou, a proto je potřeba se odreagovat. Celý klub bude přístupný
                            jen pro nás...<br>
                            Užijeme si to až do noci... Rána...
                          </div>
                          <div class="where_">
                            <strong class="circle">Kde?</strong>
                            <div class="cntnt">
                              <strong>Hudební klub K2</strong>
                              Sokolský ostrov 462/1, 370 01 České Budějovice | <a href="http://mapy.cz/zakladni?x=14.4698176&y=48.9749415&z=17&source=firm&id=1446139" target="_blank">Zobrazit na mapě ></a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="when_">
                            <strong class="circle">Kdy?</strong>
                            <div class="cntnt">
                              Pátek 1. dubna 2016 od 20:00
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <br/><br/>
                {/if}

              <div class="program_title"><span>{$programDate}</span></div>
              <div class="program_day">

                <div class="program_row" n:foreach="$programDay as $programRow">
                    {if !is_array($programRow) && get_class($programRow)=="App\Model\ProgramBluePoint"}
                          <div class="left_">{$programRow->getName()}</div>
                          <div class="circle_ blue">{$programRow->getTime()}</div>
                          <div class="right_"></div>
                          <div class="clearfix"></div>
                    {elseif !is_array($programRow) && get_class($programRow)=="App\Model\ProgramCoffee"}
                          <div class="left_ cofee_break">
                                <div>{$programRow->getName()}</div>
                          </div>
                          <div class="circle_ green">{$programRow->getTime()}</div>
                          <div class="right_"></div>
                          <div class="clearfix"></div>
                    {elseif !is_array($programRow) && get_class($programRow)=="App\Model\ProgramLunch"}
                          <div class="left_ lunch_time">
                                <div>{$programRow->getName()}</div>
                          </div>
                          <div class="circle_ green">{$programRow->getTime()}</div>
                          <div class="right_"></div>
                          <div class="clearfix"></div>
                    {else}
                        {if !is_array($programRow) && ($programRow->speaker_type_id == 1 || $programRow->speaker_type_id == 2)}
                            {*prednaska maly+velky recnik*}
                              <div class="left_" id="prednaska{$programRow->id}"></div>
                              <div class="circle_ red">{$programRow->time->format('%H:%I')}</div>
                              <div class="right_">
                                <div class="people_buble_1">
                                  <div class="inner_">
                                    <div class="image">
                                      {*<img src="http://placehold.it/45x50">*}
                                      <img src="{$programRow->photo}" alt="{$programRow->name}"/>
                                    </div>
                                    <div class="content_">
                                      <strong><a href="#" data-toggle="modal" data-target="#modal{$programRow->id}">{$programRow->name}</a></strong>
                                      <p><a href="#" data-toggle="modal" data-target="#modal{$programRow->id}">{$programRow->lecture_name}</a></p>
                                      <div class="text-right lecture-detail"><strong><a href="#" data-toggle="modal" data-target="#modal{$programRow->id}">Detail přednášky ></a></strong></div>
                                      {*<strong>{$programRow->name}</strong>*}
                                        {*<p>{$programRow->lecture_name}</p>*}
                                        {*<button type="button" class="more" data-toggle="modal" data-target="#modal{$programRow->id}">Detail přednášky</button>*}
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                              <div class="clearfix"></div>

                            {**********************************************************************************************************************}
                                <!-- Modal -->
                                <div class="modal fade vote_modal" id="modal{$programRow->id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <div class="image">
                                          <img src="{$programRow->photo}" alt="{$programRow->name}" />
                                        </div>
                                        <div class="right_">
                                          <div class="head">
                                            <div class="titleHolder">
                                              <span class="title">{$programRow->name}</span>
                                              {*<p>{$programRow->expert}</p>*}
                                            </div>
                                            {*<a href="#" class="cancel_vote">Zrušit hlas</a>*}
                                            <div class="clearfix"></div>
                                          </div>
                                          <div class="content_">
                                            <strong>{$programRow->lecture_name}</strong>
                                            <p>{$programRow->lecture_annotation|escape|nl2br|noescape}</p>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {**********************************************************************************************************************}

                        {elseif is_array($programRow)}
                            {*panelovka / pripadovka*}
                                {dump $programRow}
                              <div class="left_" id="{$programRow["id"]}"></div>
                              <div class="circle_ yellow">{$programRow["time"]}</div>
                              <div class="right_">
                                <div class="people_buble_2">
                                  <div class="inner_">
                                    <strong>{$programRow["title"]}</strong><br/>
                                    {$programRow["text"]|escape|nl2br|noescape}
                                  </div>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                        {/if}
                    {/if}
                </div>
              </div>

          {/foreach}

        </div>
      </div>
    </div>
