{block content}

    <div class="container-fluid line_long"></div>
    <div class="container-fluid pripadove_studie">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Hledáme hrdiny dnešní doby</h1>
          </div>
          <div class="col-sm-6">
            <div class="hero_box blue">
              <span class="title">S originální případovou studií</span>
              <ul>
                <li>Unikátní a originální</li>
                <li>Zatím nikde nepublikované</li>
                <li>Se zajímavými výsledky</li>
                <li>S poučením pro ostatní</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="hero_box orange">
              <span class="title">Se zajímavým osobním příběhem</span>
              <ul>
                <li>Inspirativní a kulervoucí</li>
                <li>Které prostě nevymyslíš</li>
                <li>Unikátní a originální</li>
                <li>S poučením pro ostatní</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="green_title"><span>Mám odvahu a chci vystoupit na E-shop summit 2016</span></div>
          </div>
          {form studiesAddForm}
            <div class="col-md-12">
              <div class="radio_box">
                  {foreach $form[type]->items as $key => $label}
                      <span>
                          <input type="radio" n:name="type:$key">
                          <label n:name="type:$key">{$label}</label>
                      </span>
                  {/foreach}
              </div>
            </div>
            <div class="col-md-12">
              <div class="form_line">
                  {label name /}
                  {input name}
              </div>
              <div class="form_line">
                  {label email /}
                  {input email}
              </div>
              <div class="form_line">
                  {label phone /}
                  {input phone}
              </div>
              <div class="form_line">
                  {label description /}
                  {input description}
              </div>
              <div class="form_line">
                {label upload /}
                <div class="file_uplaod_holder">
                  {input upload} <span>(max. 5 MB)</span>
                </div>
              </div>
              <div class="submit_holder">
                {input send}
              </div>
            </div>
          {/form}
        </div>
      </div>
    </div>