{block content}
<div class="container-fluid line_long"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Náš team</h1>
            
                   <div class="people_box_left">
                    <div class="photo bubbles_left_1">
                      <img src="/images/organizatori/01.png" alt="Jan Kalianko">
                    </div>
                    <div class="text">
                      <span class="tit">Jan Kalianko</span>
                      <span class="sub_title">Hlavní pořadatel E-shop summit 2016</span>
                      <div class="innerText">
                        <p>Jako hlavní pořadatel má zkušenosti z mnoha dalších akcí (E-shop víkend, studentské festivaly pro tisíce návštěvníků, barcampy atd.).</p> 
                        <p>Když nepracuje na přípravě akcí, věnuje se konzultacím pro e-shopy jako <a href="http://www.eshopkonzultant.cz/" target="_blank">E-shop konzultant</a> <strong>se specializací na UX, CRO a uživatelské testování</strong>.</p>
                        <p>Vede úspěšný internetový obchod <a href="https://www.svetbot.cz" target="_blank">SvětBot.cz</a> a je také autorem <a href="http://www.eshopkniha.cz" target="_blank">E-shop knihy</a> - jediné komplexní knihy o tom, jak vybudovat úspěšný e-shop.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="people_box_right">
                    <div class="photo">
                      <img src="/images/organizatori/02.png" alt="Milan Pichlík">
                    </div>
                    <div class="text">
                      <span class="tit">Milan Pichlík</span>
                      <span class="sub_title">Partner manager</span>
                      <div class="innerText">
                        <p>Na E-shop summitu se věnuje našim partnerům a vyjde jim ve všem maximálně vstříc.</p>
                        <p>Mimo #ESS16 studuje na ZČU, provozuje e-shop a několik desítek affiliate webů. V poslední době také školí na téma affiliate katalogů.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>  
                  
                  <div class="people_box_left">
                    <div class="photo bubbles_left_3  ">
                      <img src="/images/organizatori/03.png" alt="Václav Mára">
                    </div>
                    <div class="text">
                      <span class="tit">Václav Mára</span>
                      <span class="sub_title">Programátor back-end, pořadatel, technik</span>
                      <div class="innerText">
                        <p>Václav je v komunitě známější spíše jako "vEnCa-X". Pro E-shop summit vytváří back-end webové aplikace. Dále pak bude vrchním technikem, který zajistí, aby vše bylo technicky bez problémů.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="people_box_right">
                    <div class="photo">
                      <img src="/images/organizatori/04.png" alt="Denisa Wágnerová">
                    </div>
                    <div class="text">
                      <span class="tit">Denisa Wágnerová</span>
                      <span class="sub_title">Pořadatel</span>
                      <div class="innerText">
                        <p>Organizátorka akcí na západě a jihu Čech - plesy, barcampové konference, párty v tramvaji i bez tramvaje, festivaly, charitativní projekty.</p>
                        <p>Podílí se na činnosti Spolku České Břízy, je součástí projektu PošliToDál, pořádá exkurze na zajímavá místa a workshopy. </p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>  
                   
                 <div class="people_box_left">
                    <div class="photo bubbles_left_1">
                      <img src="/images/organizatori/05.png" alt="Swenia Toupalik">
                    </div>
                    <div class="text">
                      <span class="tit">Swenia Toupalik</span>
                      <span class="sub_title">Grafik designer</span>
                      <div class="innerText">
                        <p>Pro E-shop summit 2016 připravila Swenia kompletní grafický vizuál - od webu, přes propagační materiály až po vzhled stage nebo bružuru pro účastníky.</p>
                        <p>Mimo #ESS16 připravuje pro klienty weby, katalogy, vizitky, tiskové materiály, bannery a mnoho dalšího z oblasti grafiky. Ve svých referencích, které prezentuje na osobním webu <a href="http://www.swenia.cz/" target="_blank">Swenia.cz</a> má společnosti jako Siko, PilsnerUrquell, Západočeskou univerzitu v Plzni a další. Mimo jiné je také finanční ředitekou <a href="https://www.svetbot.cz/" target="_blank">SvětBot.cz</a>.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="people_box_right">
                    <div class="photo">
                      <img src="/images/organizatori/06.png" alt="Nový web">
                    </div>
                    <div class="text">
                      <span class="tit">Nový web</span>
                      <span class="sub_title">Coding front-end</span>
                      <div class="innerText">
                        <p>Společnost <a href="http://www.novy-web.cz" target="_blank">Nový-web.cz</a> zajistila pro E-shop summit 2016 kódování responzivní šablony webu.</p>
                        <p>Věnuje se vývoji webových stránek, e-shopů a internetovému marketingu.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>  
                   
                 <div class="people_box_left">
                    <div class="photo bubbles_left_2">
                      <img src="/images/organizatori/07.png" alt="AtrIGY + Clarion">
                    </div>
                    <div class="text">
                      <span class="tit">ArtIGY + Clarion Congress Hotel</span>
                      <span class="sub_title">Tecnické zajištění + catering</span>
                      <div class="innerText">
                        <p>Na celé akci se výrazně podílí technický team ArtIGY a to technickým zajištěním. Catering, provoz kavárny a další pak zajišťuje team z Clarion Congress Hotel České Budějovice. Obě společnosti jsou profesionály s dlouholetou praxí a jsou zárukou kvality a spokojenosti návštěvníků.</p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>                                                     
        </div>
    </div>
</div>

