{block content}
<div class="container-fluid line_long"></div>
{* pripravena sablona pro hlasovani *}

    {* modalni okno nakonec vubec nebude, vyhodit. v css ma modalni okno taky kod? *}
    <div class="container hlasovani_box">
      <div class="row">
        <div class="col-md-12">
          <h1>Hlasování</h1>
          <div class="subText">
            <p>Nějaký jiný text...</p>
          </div>
          <div class="vote_box">
            <div class="image">
              <img src="images/user.jpg" alt="" />
            </div>
            <div class="text_">
              <span class="title">Jméno navrhnutého</span>
              <p>Název přednášky a ještě nějaký delší název přednášky </p>
              <div>
                <!-- Button trigger modal -->
                <button type="button" class="more" data-toggle="modal" data-target="#modal1">Detail přednášky</button>
                <!-- Modal -->
                <div class="modal fade vote_modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="image">
                          <img src="images/user.jpg" alt="" />
                        </div>
                        <div class="right_">
                          <div class="head">
                            <div class="titleHolder">
                              <span class="title">Jméno navrhnutého</span>
                              <p>Název přednášky a ještě nějaký delší název přednášky</p>
                            </div>
                            <a href="#" class="cancel_vote">Zrušit hlas</a>
                            <div class="clearfix"></div>
                          </div>
                          <div class="content_">
                            <p>Název přednášky a ještě nějaký delší název přednášky  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labo</p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <a href="" class="show_modal vote">Hlasuj</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="vote_box">
            <div class="image">
              <img src="images/user.jpg" alt="" />
            </div>
            <div class="text_">
              <span class="title">Jméno navrhnutého</span>
              <p>Název přednášky a ještě nějaký delší název přednášky </p>
              <div>
                <!-- Button trigger modal -->
                <button type="button" class="more" data-toggle="modal" data-target="#modal2">Detail přednášky</button>
                <!-- Modal -->
                <div class="modal fade vote_modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="image">
                          <img src="images/user.jpg" alt="" />
                        </div>
                        <div class="right_">
                          <div class="head">
                            <div class="titleHolder">
                              <span class="title">Jméno navrhnutého</span>
                              <p>Název přednášky a ještě nějaký delší název přednášky</p>
                            </div>
                            <a href="#" class="cancel_vote">Zrušit hlas</a>
                            <div class="clearfix"></div>
                          </div>
                          <div class="content_">
                            <p>Název přednášky a ještě nějaký delší název přednášky  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labo</p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <a href="#" class="show_modal cancel_vote">Zrušit hlas</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="vote_box">
            <div class="image">
              <img src="images/user.jpg" alt="" />
            </div>
            <div class="text_">
              <span class="title">Jméno navrhnutého</span>
              <p>Název přednášky a ještě nějaký delší název přednášky </p>
              <div>
                <!-- Button trigger modal -->
                <button type="button" class="more" data-toggle="modal" data-target="#modal2">Detail přednášky</button>
                <!-- Modal -->
                <div class="modal fade vote_modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="image">
                          <img src="images/user.jpg" alt="" />
                        </div>
                        <div class="right_">
                          <div class="head">
                            <div class="titleHolder">
                              <span class="title">Jméno navrhnutého</span>
                              <p>Název přednášky a ještě nějaký delší název přednášky</p>
                            </div>
                            <a href="#" class="cancel_vote">Zrušit hlas</a>
                            <div class="clearfix"></div>
                          </div>
                          <div class="content_">
                            <p>Název přednášky a ještě nějaký delší název přednášky  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labo</p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button">
              <a href="" class="show_modal vote">Hlasuj</a>
            </div>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>
    </div>
