<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Platba bankovním převodem - video</title>
</head>
<body>

Dobrý den.<br/>
<br/>
Děkujeme za zakoupení videí z E-shop summit 2016 v předprodeji.<br/>
<br/>
Videa aktuálně stříháme s budou k dispozici nejpozději do tří týdnů po skončení akce, určitě však dříve. Jakmile vše dokončíme, obdržíte do této mailové schránky URL adresu a přihlašovací údaje, kde si budete moci videa neomezeně přehrávat i s prezentacemi řečníků a to nejméně 1 rok.<br/>
Upozorňujeme, že je nutná úhrada obratem. Speciální cena 490 Kč v předprodeji platí jen do zveřejnění videí. Pokud při zveřejnění videí nebude objednávka uhrazena, bude automaticky zrušena a videa budou k zakoupení už jen za vyšší cenu.<br/>
<br/>
Celková částka k úhradě: 490 Kč<br/>
Variabilní symbol k platbě: {$videoRow->variable_symbol}<br/>
Číslo účtu: 2700809926/2010<br/>
<br/>
Nutno uhradit do {$maturityDate}, jinak budou registrace zrušeny.<br/>
<br/>
Po uhrazení platby Vám bude na tento e-mail zaslán daňový doklad - faktura.<br/>
<br/>
Děkujeme za zakoupení videí z E-shop summit 2016. Věřím, že naplníme Vaše očekávání.
<br/>
<br/>
--<br/>
Za celý team - Jan Kalianko<br/>
Hlavní pořadetel E-shop summit 2016<br/>
<a href="https://www.eshopsummit.cz">https://www.eshopsummit.cz</a>
</body>
</html>