<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Platba bankovním převodem</title>
</head>
<body>

Dobrý den.<br/>
<br/>
Děkujeme za registraci na konferenci E-shop summit 2016.<br/>
<br/>
    Registroval(a) jste následující osoby:<br/>
    {foreach $visitorRow->related('visitor_ticket.visitor_id') as $row}
        - {$row->name} - {$row->ticket->name_invoice} - {$row->ticket->price} Kč<br/>
    {/foreach}
    {if $visitorRow->discount_id != null}
        Slevový poukaz {$visitorRow->discount->name} -{$visitorRow->discount_price} Kč<br/>
    {/if}
<br/><br/>

<strong>Upozorňujeme, že všechny platby, které nebudou na našem účtu připsány do středy 30.3.2016 budeme považovat za neuhrazené a v takovém případě budeme požadovat úhradu vstupenky přímo na místě při prezenci na akci!</strong><br/>
<br/><br/>

Celková částka k úhradě: {$visitorRow->price} Kč<br/>
Variabilní symbol k platbě: {$visitorRow->variable_symbol}<br/>
Číslo účtu: 2700809926/2010<br/>
<br/>
Datum splatnosti: {$maturityDate}<br/>
<br/>
<br/>
Po uhrazení platby Vám bude na tento e-mail zaslán daňový doklad - faktura.<br/>
<br/>
Děkujeme za registrace na E-shop summit 2016. Věřím, že naplníme Vaše očekávání.<br/>
<br/>
--<br/>
Za celý team - Jan Kalianko<br/>
Hlavní pořadetel E-shop summit 2016<br/>
<a href="https://www.eshopsummit.cz">https://www.eshopsummit.cz</a>
</body>
</html>