<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>E-shop Summit 2016</title>
</head>
<body>

Ahoj.<br/>
<br/>
Před týdnem sis u nás na webu <a href="https://www.eshopsummit.cz">https://www.eshopsummit.cz/</a> rezervoval/a vstupenku. Bohužel ale zatím neevidujeme platbu za ní.<br/>
Rád bych Ti připomněl nutnost její úhrady, jinak budeme nuceni registraci zrušit a uvolnit místo pro ostatní.<br/>
<br/>
Prosím tedy o úhradu do 48 hodin.<br/>
<br/>
Údaje k platbě jsou:<br/>
<br/>
Vybral/a si platbu kartou. Odkaz na platební bránu je zde: <a href="{$cardPayLink}">{$cardPayLink}</a><br/><br/>
Pokud ale platba kartou z nějakého důvodu nejde, nebo chceš platit bankovním převodem, použij následující údaje pro platbu převodem:<br/>
Číslo účtu: 2700809926/2010<br/>
Variabilní symbol: {$visitorRow->variable_symbol}<br/>
Částka k úhradě: {$visitorRow->price} Kč<br/>
<br/>
Registrace je pro následující osoby:<br/>
{foreach $visitorRow->related('visitor_ticket.visitor_id') as $row}
    {$row->name}, {$row->ticket->name_invoice}<br/>
{/foreach}
<br/>
<br/>
Díky za úhradu. Budeme se na Tebe těšit na začátku dubna!<br/>
<br/>
--<br/>
S přátelským pozdravem za team E-shop summit 2016<br/>
Jan Kalianko<br/>
Hlavní pořadatel #ESS16<br/>
<br/>
<a href="https://www.eshopsummit.cz">https://www.eshopsummit.cz</a>

</body>
</html>