<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags}{else}Eshop summit{/ifset}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

    {if $user->isInRole('admin')}
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-2">
                    <div class="well">
                        <span class="glyphicon glyphicon-user"></span> <strong>{$user->getIdentity()->name}</strong><br/>
                        <a href="{link :Admin:Homepage:out}"><span class="glyphicon glyphicon-remove-circle"></span> Odhlásit</a>
                    </div>

                    <ul class="nav nav-pills nav-stacked" role="tablist">
                        <li {ifCurrent :Admin:Dashboard:default}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:default}">Dashboard</a></li>
                        <li {ifCurrent :Admin:Dashboard:lectures}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:lectures}">Případové studie a příběhy</a></li>
                        <li {ifCurrent :Admin:Dashboard:users}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:users}">Návštěvníci</a></li>
                        <li {ifCurrent :Admin:Dashboard:usersList}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:usersList}">Návštěvníci seznam</a></li>
                        <li {ifCurrent :Admin:Dashboard:speakers}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:speakers}">Řečníci</a></li>
                        <li {ifCurrent :Admin:Newsletter:default}class="active"{/ifCurrent}><a href="{link :Admin:Newsletter:default}">Newsletter lidé</a></li>
                        <li {ifCurrent :Admin:Newsletter:newsletter}class="active"{/ifCurrent}><a href="{link :Admin:Newsletter:newsletter}">Newsletter</a></li>
                        <li {ifCurrent :Admin:Dashboard:lectureTip}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:lectureTip}">Tipy na řečníky</a></li>
                        <li {ifCurrent :Admin:Dashboard:partners}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:partners}">Partneři</a></li>
                        <li {ifCurrent :Admin:Dashboard:videos}class="active"{/ifCurrent}><a href="{link :Admin:Dashboard:videos}">Videa</a></li>
                    </ul>

                </div>
                <div class="col-md-10">
                    <div class="alert {$flash->type}" role="alert" n:foreach="$flashes as $flash">
                        {$flash->message}
                    </div>
                    {include content}
                </div>

            </div>
        </div>
    {else}
        <div class="container">
            <div class="alerts col-xs-10 col-xs-offset-1" n:if="count($flashes)>0">
                <div class="alert {$flash->type}" role="alert" n:foreach="$flashes as $flash">
                    {$flash->message}
                </div>
            </div>

            {include content}
        </div>
    {/if}

	{block scripts}{/block}
	<script src="{$basePath}/js/jquery.min.js"></script>
</body>
</html>
