{block content}

<div class="container">

    <div class="container-fluid line_long"></div>

	<h1 n:block=title>Děkujeme za Vaši registraci</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Co se bude dít dál?</h2>
            <ul>
                <li>Vyčkáme na Vaši platbu</li>
                <li>Jakmile dorazí, budeme Vás informovat a zašleme doklad o úhradě</li>
                <li>Vstupy jsou na registrovaná jména - u vstupu o Vás budeme vědět</li>
                <li>Už se můžete těšit, bude to opravdu pecka!</li>
            <ul>
        </div>
        <div class="col-md-6">
            <h2>Platební údaje</h2>

            <strong class="text-danger">
                Upozorňujeme, že všechny platby, které nebudou na našem účtu připsány do středy 30.3.2016 budeme považovat za neuhrazené a v takovém případě budeme požadovat úhradu vstupenky přímo na místě při prezenci na akci!<br/>
            </strong>

            Číslo účtu: <strong>2700809926/2010</strong><br/>
            Variabilni symbol: <strong>{$visitorRow->variable_symbol}</strong><br/>
            Částka: <strong>{$visitorRow->price} Kč</strong><br/>
            Datum splatnosti: <strong>{$maturityDate}</strong><br/>
        </div>

        {include './../together/share.latte'}

        <script>
            //SHOP start
            ga('require', 'ecommerce');

            ga('ecommerce:addTransaction', {
                'id': {$visitorRow->id},                    // Transaction ID. Required.
                'affiliation': 'Vstupenky',   // Affiliation or store name.
                'revenue': {$visitorRow->price}
            });

            {foreach $visitorRow->related('visitor_ticket.visitor_id') as $visitorTicketrow}
                ga('ecommerce:addItem', {
                    'id': {$visitorRow->id},                     // Transaction ID. Required.
                    'name': {$visitorTicketrow->ticket->name_invoice},    // Product name. Required.
                    'category': {$visitorTicketrow->ticket->name_invoice},         // Category or variation.
                    'price': {$visitorTicketrow->ticket->price},                 // Unit price.
                    'quantity': '1'                   // Quantity.
                });
            {/foreach}

            ga('ecommerce:send');
            //SHOP end
        </script>
    </div>
{*
    Jméno: {$visitorRow->invoice_company}<br/>
    Platba na účet: xxxx/yyyy<br/>
    Variabilni symbol: {$visitorRow->variable_symbol}<br/>
    Datum splatnosti: {$maturityDate}<br/>

    Položky:<br/>
    {foreach $visitorRow->related('visitor_ticket.visitor_id') as $row}
        - {$row->name} , {$row->ticket->name_invoice} <strong>{$row->ticket->price},-Kč</strong><br/>
    {/foreach}

    Celková cena k zaplacení: <strong>{$visitorRow->price},-Kč</strong>
    *}

</div>