{block content}

    <div class="container-fluid line_long"></div>

    <div class="container vstupenky_holder">
      <div class="row">
        <div class="col-md-12">
            {snippet ticketSnippet}

                <h1 n:block=title>Vstupenky</h1>

                {include discount}

                {form ticketForm}
                  <span class="subTitle">Pro koho vstupenka bude?</span>
                  <div class="buyTicketBox">
                      <div class="form_line">
                        {label $form->components['mainUser']->components['name'], class => "required" /}
                        {input $form->components['mainUser']->components['name']}
                      </div>
                      <div class="form_line">
                        {label $form->components['mainUser']->components['company'], class => "required" /}
                        {input $form->components['mainUser']->components['company']}
                      </div>
                      <div class="form_line">
                        {label $form->components['mainUser']->components['email'], class => "required" /}
                        {input $form->components['mainUser']->components['email']}
                      </div>
                      <div class="radioHolder">
                        {foreach $form->components['mainUser']->components['ticket']->items as $key => $label}
                            <label n:name="$form->components['mainUser']->components['ticket']:$key"><input n:name="$form->components['mainUser']->components['ticket']:$key"> {$label}</label>
                        {/foreach}
                      </div>
                  </div>
                  {foreach $form['users']->containers as $id => $user}
                        <div class="buyTicketBox">
                            <div class="form_line">
                                {label users-$id-name, class => "required" /}
                                {input users-$id-name}
                            </div>
                            <div class="form_line">
                                {label users-$id-company, class => "required" /}
                                {input users-$id-company}
                            </div>
                            <div class="form_line">
                                {label users-$id-email, class => "required" /}
                                {input users-$id-email}
                            </div>
                            <div class="radioHolder">
                                {foreach $user->components["ticket"]->items as $key => $label}
                                   <input type="radio" n:name="users-$id-ticket:$key">
                                   <label n:name="users-$id-ticket:$key">{$label}</label>
                                {/foreach}
                            </div>

                            <div class="form_line">
                                {input users-$id-remove}
                            </div>
                        </div>
                  {/foreach}

                  <div class="more_names">
                    {input users-add}<br/>
                  </div>

                  <span class="subTitle">Fakturační údaje</span>
                  <div class="fa_box">
                    <div class="form_line">
                        {label $form->components['invoice']->components['company'], class => "required" /}
                        {input $form->components['invoice']->components['company']}
                    </div>
                    <div class="form_line">
                        {label $form->components['invoice']->components['email'], class => "required" /}
                        {input $form->components['invoice']->components['email']}
                    </div>
                  </div>
                  <div class="address_box">
                    <div class="half_">
                      <div class="form_line">
                        {label $form->components['invoice']->components['ic'] /}
                        {input $form->components['invoice']->components['ic']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['street'] /}
                        {input $form->components['invoice']->components['street']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['city'], class => "required" /}
                        {input $form->components['invoice']->components['city']}
                      </div>
                    </div>
                    <div class="half_">
                      <div class="form_line">
                        {label $form->components['invoice']->components['dic'] /}
                        {input $form->components['invoice']->components['dic']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['number'], class => "required" /}
                        {input $form->components['invoice']->components['number']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['zip'], class => "required" /}
                        {input $form->components['invoice']->components['zip']}
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="state_box">
                        {label $form->components['invoice']->components['country'], class => "required" /}
                        {input $form->components['invoice']->components['country']}
                  </div>

                  <div class="discount">
                        {include discount}
                        <div class="discount-form">
                            {input $form->components['discount']->components['discountPercent']}
                            {input users-discount}
                        </div>
                  </div>

                  <div class="actual_price">Celková cena: <span id="total-price">{$totalPriceTicket}</span> Kč <span>(nejsme plátci DPH)</span></div>
                  <span class="subTitle">Způsob platby</span>
                  <br>
                    {foreach $form->components['payments']->items as $key => $label}
                        <div class="priceMethod">
                            <input type="radio" n:name="payments:$key">
                            <label n:name="payments:$key">{$label}</label>
                        </div>
                    {/foreach}
                  <div class="submit_holder">
                    {input send}
                    <span>Odesláním formuláře souhlasíte s <a href="{link Homepage:conditions}" target="_blank">obchodními podmínkami</a></span>
                  </div>
                {/form}

                <script type='text/javascript'>
                    var ticlet_classic = {$normalTicketForNowPrice};
                    var ticlet_vip = {$vipTicketForNowPrice};
                </script>

            {/snippet}
        </div>
      </div>
    </div>
{/block}
{block scripts}
{/block}

{define discount}
    {if $discountRow === null}
        {*nic*}
    {elseif $discountRow === FALSE}
        <div class="alert alert-danger">Neplatný slevový kupon - nebude použita žádná sleva</div>
    {else}
        <div class="alert alert-success">Použit slevový kupon <strong>{$discountRow->name}</strong>, který uděluje slevu: <strong>{$discountRow->percent}%</strong></div>
    {/if}
{/define}