{block content}

<h1 n:block=title>Dashboard</h1>

    Lidí v newsletteru: <strong>{$newsletterCount}</strong><br/>
    Případové studie a příběhy: <strong>{$lectureCount}</strong><br/>

    <br/>

    Počet návštěvníků: <strong>{$visitorsPaidCount}/{$visitorsCount}</strong><br/>{*//kde XX je počet celkem uhrazených a YY počet provedených objednávek = vždy bude větší nebo rovno XX*}
    - Běžné vstupenky: <strong>{$ticketClassicPaidCount}/{$ticketClassicCount}</strong><br/>
    - VIP vstupenky: <strong>{$ticketVipPaidCount}/{$ticketVipCount}</strong><br/>

    <br/>
    Videa: <strong>{$videoPaidCount}/{$videoCount}</strong><br/>

    <br/>
    Celkem vybráno peněz: <strong>{$sumPrice}</strong> Kč<br/>
    <br/>

    Tipů na řečníky: <strong>{$lecturesTipsCount}</strong><br/>

{/block}
