{block content}

<h1 n:block=title>Případové studie a příběhy</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Jmeno</th>
                <th>Typ</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Popis</th>
                <th>Datum</th>
                <th>Priloha</th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$lectures as $lecture">
                <th scope="row">{$lecture->name}</th>
                <td>{$lecture->type}</td>
                <td>{$lecture->email}</td>
                <td>{$lecture->phone}</td>
                <td>{$lecture->description|escape|nl2br|noescape}</td>
                <td>{$lecture->date|date:'j. n. Y H:i'}</td>
                <td><a href="{$lecture->attachement}">{$lecture->attachement}</a></td>
            </tr>
        </tbody>
    </table>

{/block}
