{block content}

<h1 n:block=title>Tipy na řečníky</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Řečník</th>
                <th>Od</th>
                <th>Od</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$lecturerTips as $lecturerTip">
                <th scope="row">{$lecturerTip->lecturer_name}</th>
                <td>{$lecturerTip->author}</td>
                <td>{$lecturerTip->author_email}</td>
                <td>{$lecturerTip->date|date:'j. n. Y H:i'}</td>
            </tr>
        </tbody>
    </table>

{/block}
