{block content}

<h1 n:block=title>Řečníci</h1>

<a href="{link Dashboard:speakerAdd}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> přidat řečníka</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Foto</th>
                <th>Expert</th>
                <th>Pipis</th>
                <th>Typ řečníka</th>
                <th>Řazení</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$speakers as $speaker" class="{$speaker->speaker_type->class}">
                <th scope="row">{$speaker->name}</th>
                <td>{$speaker->photo}</td>
                <td>{$speaker->expert}</td>
                <td>{$speaker->description}</td>
                <td>{$speaker->speaker_type->name}</td>
                <td>{$speaker->sort}</td>
                <td>
                    <a href="{link Dashboard:speakerEdit, $speaker->id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{link Dashboard:speakerDelete, $speaker->id}"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="smazat" onclick="return confirm( 'Skutečně smazat?' )"></span></a>
                </td>
            </tr>
        </tbody>
    </table>

{/block}
