{block content}

<h1 n:block=title>Návštěvníci</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Datum</th>
                <th>Jméno/firma</th>
                <th>E-mail</th>
                <th>Platba</th>
                <th>Variabilní symbol</th>
                <th>Cena</th>
                <th>Sleva</th>
                <th>ID platby</th>
                <th>Faktura</th>
                <th>IČO</th>
                <th>Zaplaceno</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {foreach $visitors as $visitor}
                <tr {if $visitor->paid == 1 && $visitor->invoice_number_idoklad == NULL}class="danger"{elseif $visitor->paid == 1}class="success"{/if}>
                    <th scope="row">{$visitor->id}</th>
                    <td>{$visitor->registered|date:'j. n. Y H:i'}</td>
                    <td>{$visitor->invoice_company}</td>
                    <td>{$visitor->invoice_email}</td>
                    <td>{$visitor->payments}</td>
                    <td>{$visitor->variable_symbol}</td>
                    <td>{$visitor->price},-Kč</td>
                    <td>{if $visitor->discount_id}{$visitor->discount->name} ({$visitor->discount_price},-Kč){/if}</td>
                    <td>{$visitor->token}</td>
                    <td>{$visitor->invoice_number_idoklad}</td>
                    <td>{$visitor->invoice_ic}</td>
                    <td>
                        {if $visitor->paid == 1}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {else}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" title="{$visitor->paid_date|date:'j. n. Y H:i'}"></span>
                        {/if}
                    </td>
                    <td>
                        <a href="{link Dashboard:userEdit, $visitor->id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{link Dashboard:userDelete, $visitor->id}"><span class="glyphicon glyphicon-trash" title="smazat" onclick="return confirm( 'Skutečnš smazat?' )"></span></a>
                    </td>
                </tr>
                {if $visitor->paid == 1 && $visitor->invoice_number_idoklad == NULL}
                    <tr>
                        <th colspan="10" scope="row" class="danger">Kurva, uživatel má v systemu zaplaceno ale nemam cislo faktury z idokladu. Kde je problem?</th>
                    </tr>
                {/if}
            {/foreach}
        </tbody>
    </table>

{/block}
