{block content}

<h1 n:block=title>Návštěvníci seznam</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Jméno/firma</th>
                <th>Pozice</th>
                <th>E-mail</th>
                <th>Vstupenka</th>
                <th>Cena</th>
                <th>Zaplaceno</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$visitors as $visitor" {if $visitor->paid == 1}class="success"{/if}>
                <th scope="row">{$visitor->id}</th>
                <td>
                    {foreach $visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow}
                        {$visitorTicketRow->name}<br/>
                    {/foreach}
                </td>
                <td>
                    {foreach $visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow}
                        {$visitorTicketRow->position}<br/>
                    {/foreach}
                </td>
                <td>
                    {foreach $visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow}
                        {$visitorTicketRow->email}<br/>
                    {/foreach}
                </td>
                <td>
                    {foreach $visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow}
                        {$visitorTicketRow->ticket->name_invoice} ({$visitorTicketRow->ticket->name})<br/>
                    {/foreach}
                </td>
                <td>
                    {foreach $visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow}
                        {$visitorTicketRow->ticket->price}<br/>
                    {/foreach}
                </td>
                <td>
                    {if $visitor->paid == 1}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {else}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" title="{$visitor->paid_date|date:'j. n. Y H:i'}"></span>
                    {/if}
                </td>
                <td>
                    <a href="{link Dashboard:userEdit, $visitor->id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                </td>
            </tr>
        </tbody>
    </table>

{/block}
