{block content}

<div class="row">
    <div class="col-xs-12">
        <h1 n:block=title>Úprava návštěvníka</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        {control visitorForm}
    </div>
    <div class="col-xs-8">
        <table class="table">
            <tr>
                <th>Jméno</th>
                <th>Firma/pozice</th>
                <th>E-mail</th>
                <th>Vstupenka</th>
                <th>Cena Kč</th>
            </tr>
            <tr n:foreach="$visitor->related('visitor_ticket.visitor_id') as $visitorTicketRow">
                <td>{$visitorTicketRow->name}</td>
                <td>{$visitorTicketRow->position}</td>
                <td>{$visitorTicketRow->email}</td>
                <td>{$visitorTicketRow->ticket->name_invoice} ({$visitorTicketRow->ticket->name})</td>
                <td>{$visitorTicketRow->ticket->price}</td>
            </tr>
        </table>
    </div>
</div>

{/block}
