{block content}

<h1 n:block=title>Předprodej videí</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Datum</th>
                <th>Jméno/firma</th>
                <th>E-mail</th>
                <th>Platba</th>
                <th>Variabilní symbol</th>
                <th>Cena</th>
                <th>Zaplaceno</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {foreach $videos as $video}
                <tr {if $video->paid == 1 && $video->invoice_number_idoklad == NULL}class="danger"{elseif $video->paid == 1}class="success"{/if}>
                    <th scope="row">{$video->id}</th>
                    <td>{$video->registered|date:'j. n. Y H:i'}</td>
                    <td>{$video->invoice_company}</td>
                    <td>{$video->invoice_email}</td>
                    <td>{$video->payments}</td>
                    <td>{$video->variable_symbol}</td>
                    <td>{$video->price},-Kč</td>
                    <td>
                        {if $video->paid == 1}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {else}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" title="{$video->paid_date|date:'j. n. Y H:i'}"></span>
                        {/if}
                    </td>
                    <td>
                        <a href="{link Dashboard:videoEdit, $video->id}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{link Dashboard:videoDelete, $video->id}"><span class="glyphicon glyphicon-trash" title="smazat" onclick="return confirm( 'Skutečnš smazat?' )"></span></a>
                    </td>
                </tr>
                {if $video->paid == 1 && $video->invoice_number_idoklad == NULL}
                    <tr>
                        <th colspan="10" scope="row" class="danger">Kurva, uživatel má v systemu zaplaceno ale nemam cislo faktury z idokladu. Kde je problem?</th>
                    </tr>
                {/if}
            {/foreach}
        </tbody>
    </table>

{/block}
