{block content}

<div class="row">
    <div class="col-xs-12">
        <h1 n:block=title>Úprava videa</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {control videoForm}
    </div>

</div>

{/block}
