{block content}

<div class="container">

    <div class="container-fluid line_long"></div>

	<h1 n:block=title>Děkujeme za zájem o nákup videí z #ESS16</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Co se bude dít dál?</h2>
            <ul>
                <li>Vyčkáme na Vaši platbu</li>
                <li>Jakmile dorazí, potvrdíme Vám její přijetí a vystavíme na platbu fakturu</li>
                <li>Videa budou k dispozici do 3 týdnů po akci – jakmile je budeme mít hotové (pravděpodobně dříve), zašleme Vám do e-mailu přihlašovací údaje do rozhraní, kde je budete moci i s prezentacemi řečníků neomezeně sledovat minimálně 1 rok</li>
                <li>Upozornění: Videa uhraďte prosíme obratem. Neodkládejte platbu. Jakmile videa zveřejníme (pravděpodobně dříve než do 3 týdnů), tak všechny zlevněné objednávky automaticky zrušíme a videa již nebudou k zakoupení za speciální zlevněnou cenu!</li>
            <ul>
        </div>
        <div class="col-md-6">
            <h2>Platební údaje</h2>

            Číslo účtu: <strong>2700809926/2010</strong><br/>
            Variabilni symbol: <strong>{$videoRow->variable_symbol}</strong><br/>
            Částka: <strong>{$videoRow->price} Kč</strong><br/>
            Datum splatnosti: <strong>{$maturityDate}</strong><br/>
        </div>

    </div>

</div>