{block content}

    <div class="container-fluid line_long"></div>

    <div class="container vstupenky_holder">
      <div class="row">
        <div class="col-md-12">

                <h1 n:block=title>Kompletní videa z přednášek #ESS16</h1>
                <span class="subTitle2-gray">ve FULL HD kvalitě i s prezentacemi řečníků</span>
        </div>
        <div class="col-md-offset-1 col-md-10">

                <ul class="list-ok">
                    <li><img src="/images/ok.png" alt="OK"> Neomezený přístup - <strong>on-line dostupnost 24/7</strong></li>
                    <li><img src="/images/ok.png" alt="OK"> <strong>FULL HD</strong> kvalita</li>
                    <li><img src="/images/ok.png" alt="OK"> Včetně synchronizovaných slidů z prezentací řečníků</li>
                    <li><img src="/images/ok.png" alt="OK"> Více než <strong>11 hodin záznamu</strong> plného hodnotných informací</li>
                </ul>

        </div>
        <div class="col-md-12">

            <span class="subTitle3-red">A to vše pouze nyní s jedinečnou slevou!</span>

            <div class="row video-prices">
                <div class="col-sm-offset-2 col-sm-8 strike">
                    <span class="text-left">Běžná cena</span> <span class="text-right">690 Kč</span>
                </div>
                <div class="col-sm-offset-2 col-sm-8 blue-box">
                    <span class="text-left">Akční cena v předprodeji</span> <span class="text-right">{$videoPrice} Kč</span>
                </div>
            </div>

                <small>
                    Tato předprodejová nabídka je platná do doby oficiálního zveřejnění sestříhaných videí. To proběhne nejpozději do 3 týdnů po ukončení E-shop summitu 2016, pravděpodobvně však dříve.<br/>
                    Po zveřejnění videí k přímému prodeji přestává být tato nabídka platná
                </small>

<br/><br/><br/><br/>
                {form videoForm}

                  <span class="subTitle">Fakturační údaje</span>
                  <div class="fa_box">
                    <div class="form_line">
                        {label $form->components['invoice']->components['company'], class => "required" /}
                        {input $form->components['invoice']->components['company']}
                    </div>
                    <div class="form_line">
                        {label $form->components['invoice']->components['email'], class => "required" /}
                        {input $form->components['invoice']->components['email']}
                    </div>
                  </div>
                  <div class="address_box">
                    <div class="half_">
                      <div class="form_line">
                        {label $form->components['invoice']->components['ic'] /}
                        {input $form->components['invoice']->components['ic']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['street'] /}
                        {input $form->components['invoice']->components['street']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['city'], class => "required" /}
                        {input $form->components['invoice']->components['city']}
                      </div>
                    </div>
                    <div class="half_">
                      <div class="form_line">
                        {label $form->components['invoice']->components['dic'] /}
                        {input $form->components['invoice']->components['dic']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['number'], class => "required" /}
                        {input $form->components['invoice']->components['number']}
                      </div>
                      <div class="form_line">
                        {label $form->components['invoice']->components['zip'], class => "required" /}
                        {input $form->components['invoice']->components['zip']}
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="state_box">
                        {label $form->components['invoice']->components['country'], class => "required" /}
                        {input $form->components['invoice']->components['country']}
                  </div>

                  <div class="actual_price">Celková cena: <span id="total-price">{$videoPrice}</span> Kč <span>(nejsme plátci DPH)</span></div>
                  <span class="subTitle">Způsob platby</span>
                  <br>
                    {foreach $form->components['payments']->items as $key => $label}
                        <div class="priceMethod">
                            <input type="radio" n:name="payments:$key">
                            <label n:name="payments:$key">{$label}</label>
                        </div>
                    {/foreach}
                  <div class="submit_holder">
                    {input send}
                    <span>Odesláním formuláře souhlasíte s <a href="{link Homepage:conditions}" target="_blank">obchodními podmínkami</a></span>
                  </div>
                {/form}

        </div>
      </div>
    </div>
{/block}
{block scripts}
{/block}
