<div class="col-sm-12 text-center">
    <h3>A pokud máte náladu, můžete se o nás zmínit přátelům.</h3>

    <a href="https://www.facebook.com/sharer/sharer.php?link=https%3A%2F%2Fwww.eshopsummit.cz&u=eshopsummit.cz" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
    <a href="https://twitter.com/intent/tweet?text=U%C5%BE%20se%20t%C4%9B%C5%A1%C3%ADm%20na%20E-shop%20summit%202016.%20Potk%C3%A1me%20se%20tam%20spolu?%20https://www.eshopsummit.cz/&hashtags=ESS16" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a>
    <a href="https://plus.google.com/share?url=https://www.eshopsummit.cz" target="_blank"><i class="fa fa-google-plus-square fa-5x"></i></a>
    <a href="https://www.linkedin.com/cws/share?url=https://www.eshopsummit.cz" target="_blank"><i class="fa fa-linkedin-square fa-5x"></i></a>

    <h3>Budeme opravdu potěšeni</h3>
</div>