{block content}

<h1 n:block=title>Akční šílenci</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Datum</th>
            <th>IP</th>
        </tr>
    </thead>
    <tbody n:foreach="$aInterest as $oInterest">
        <tr>
            <td>{$oInterest->email}</td>
            <td>{$oInterest->date|date:'d.m.Y H:i'}</td>
            <td>{$oInterest->ip}</td>
        </tr>
    </tbody>
</table>

{/block}
