{block content}

<h1 n:block=title>Email akčním šílencům</h1>
    <p>Toto neposila email zaregistrovanym lidem. Pouze lidem kteri se prihlasili, ze cheji byt o vsem informovani jako prvni - newsletter</p>
    {control newsletterEmailForm}

{/block}
